node {
	size: 10px;
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
	text-alignment: under;
}

node.reaction {
	shape: box;
  size: 10px, 10px;
	text-alignment: under;
}

node.compound {
  shape: circle;
	text-alignment: under;
}
